h1 {
	text-align: center;
}

table {
	width: 33%;
	height: 250px;
    margin-left: auto; 
    margin-right: auto;
}

.box {
	border-left: 3px solid #000;

}

.verticle1, .verticle2 {
	border-right: 3px solid #000000;
	border-bottom: 3px solid #000000;
}

/*.verticle2 {
	border-right: 3px solid #000000;
}*/

/*#row1 {
	border-bottom: 3px solid #000000;
}

#row2 {
	border-bottom: 3px solid #000000;
}*/