table {
	width: 33%;
	height: 250px;
	table-layout: center;
}

h1 {
	text-align: center;
}

.box {


}

.verticle1, .verticle2 {
	border-right: 3px solid #000000;
	border-bottom: 3px solid #000000;
}

/*.verticle2 {
	border-right: 3px solid #000000;
}*/

#row1 {
	border-bottom: 3px solid #000000;
}

#row2 {
	border-bottom: 3px solid #000000;
}